version: 2
jobs:
  build:
    docker:
    - image: polishfiltersteam/vichs_image:latest
    steps:
    - checkout
    - run: ./scripts/VICHS_auto.sh
workflows:
  version: 2
  workflow:
    triggers:
    - schedule:
        cron: 0 10,14,18,22 * * *
        filters:
          branches:
            only:
            - master
    jobs:
      - build:
          context: org-global
