! Codename: Contact Widgets - Supplement
@path PPB/uBO_AG
@include widgety_kontaktowe_suplement
!
! Reguły specjalne
!#if !ext_ublock
@include specjalne_AG
!#endif
!#if ext_ublock
@include specjalne_uBO
!#endif
