! Codename: Pop-ups - supplement
!
@path PPB/uBO_AG
@include popupy_suplement
!#if !cap_html_filtering
@include popupy_bez_html
!#endif
!#if cap_html_filtering
@include popupy_html
!#endif
!#if !ext_ublock
@include popupy_AG
!#endif
!#if ext_ublock
@include popupy_uBO
!#endif
!#if cap_user_stylesheet
@include popupy_userCSS
!#endif
