[Adblock Plus 2.0]
! Title: 🇵🇱 Polskie Filtry Elementów Irytujących - Widżety Kontaktowe/Informacji Zwrotnej
! Polish Annoyance Filters - Contact/Feedback Widgets
! Codename: Contact Widgets
! Description: Filtry ukrywające i blokujące widżety kontaktowe/informacji zwrotnej.
! Last modified: @modified
! Version: @version
! Expires: 3 days
! Najnowsza wersja zawsze na: https://github.com/FiltersHeroes/PolishAnnoyanceFilters
! Zgłoszenia:
!   Formularz (nie wymaga rejestracji) => https://polishannoyancefilters.netlify.app/issues
!   GitHub => https://github.com/FiltersHeroes/PolishAnnoyanceFilters/issues
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0/deed)
! Homepage: https://polishannoyancefilters.netlify.app
! Maintainer: Filters Heroes
! Aktualizacja: @localizedDT
!
!
!
! Specyficzne filtry
@include widgety_kontaktowe_informacji_zwrotnej_sieciowe + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/widgety_kontaktowe_sieciowe.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/widgety_kontaktowe_sieciowe.txt
@include widgety_kontaktowe_informacji_zwrotnej + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/widgety_kontaktowe.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/widgety_kontaktowe.txt
!
!
! Ogólne filtry
@include widgety_kontaktowe_informacji_zwrotnej_ogolne_sieciowe
@include widgety_kontaktowe_informacji_zwrotnej_ogolne
!
!
! Filtry specjalne
@include specjalne
!
!
! Dołączenie listy uzupełniającej do uBlocka i AdGuarda, by użytkownicy nie musieli jej subskrybować
!#include PAF_contact_feedback_widgets_supp.txt
