! Codename: Other Elements - Supplement
@path PPB/uBO_AG
@include inne_suplement
!#if !cap_html_filtering
@include inne_bez_html
!#endif
!#if cap_html_filtering
@include inne_html
!#endif
!#if !env_firefox
@include inne_nie_dla_ff
!#endif
!#if !ext_ublock
@include inne_AG
!#endif
!#if env_mobile
@include poprawki_mobilne
!#endif
!
!
! Reguły specjalne
!#if !ext_ublock
@include specjalne_AG
!#endif
!#if ext_ublock
@include specjalne_uBO
!#endif
