[Adblock Plus 2.0]
! Title: 🇵🇱 Polskie Filtry Elementów Irytujących - Wyskakujące Okienka
! Polish Annoyance Filters - Pop-ups
! Codename: Pop-ups
! Description: Filtry ukrywające i blokujące wyskakujące okienka.
! Last modified: @modified
! Version: @version
! Expires: 2 days
! Najnowsza wersja zawsze na: https://github.com/FiltersHeroes/PolishAnnoyanceFilters
! Zgłoszenia:
!   Formularz (nie wymaga rejestracji) => https://polishannoyancefilters.netlify.app/issues
!   GitHub => https://github.com/FiltersHeroes/PolishAnnoyanceFilters/issues
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0/deed)
! Homepage: https://polishannoyancefilters.netlify.app
! Maintainer: Filters Heroes
! Aktualizacja: @localizedDT
!
!
!
! Specyficzne filtry
@include popupy_sieciowe + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy_blokujace.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy_blokujace.txt
@include popupy + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy.txt
!#if ext_abp
@include popupy_ABP
!#endif
!
!
! Ogólne filtry
@include popupy_ogolne_sieciowe + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy_ogolne_blokujace.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy_ogolne_blokujace.txt
@include popupy_ogolne + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy_ogolne.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy_ogolne.txt
!
!
! Filtry specjalne
@include specjalne
!
!
! Dołączenie list uzupełniających do uBlocka i AdGuarda
!#include PAF_pop-ups_supp.txt
