[Adblock Plus 2.0]
! Title: 🇵🇱 Polskie Filtry Elementów Irytujących
! Polish Annoyance Filters
! Codename: Annoyance - Main
! Description: Filtry ukrywające i blokujące wyskakujące okienka, widgety, newslettery, powiadomienia push, strzałki, otagowane linki wewnętrzne, które są nie na temat artykułów (np. link do pracy w Bydgoszczy w artykule o pogodzie) i inne drażniące elementy (Polskie Filtry RODO-Ciasteczkowe oryginalnie stworzone przez MajkiIT są już w nich zawarte).
! Required: Do poprawnego działania wymagana jest lista lub rozszerzenie I don't care about cookies!
! Expires: 2 days
! Last modified: @modified
! Version: @version
! Najnowsza wersja zawsze na: https://github.com/FiltersHeroes/PolishAnnoyanceFilters
! Zgłoszenia:
!   Formularz (nie wymaga rejestracji) => https://polishannoyancefilters.netlify.app/issues
!   GitHub => https://github.com/FiltersHeroes/PolishAnnoyanceFilters/issues
! License: CC BY-NC-SA 4.0 (https://creativecommons.org/licenses/by-nc-sa/4.0/deed)
! Homepage: https://polishannoyancefilters.netlify.app
! Creator: blocker999
! Maintainer: Filters Heroes
! Aktualizacja: @localizedDT
!
!
! Newslettery (nie popupy)
@include newslettery_nie_popupy_sieciowe
@include newslettery_nie_popupy
!
!
! Newslettery (nie popupy) - Ogólne filtry
@include newslettery_ogolne_sieciowe
@include newslettery_ogolne
!
!
! Popupy
@include popupy_sieciowe + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy_blokujace.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy_blokujace.txt
@include popupy + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy.txt
!
!
! Popupy - Ogólne filtry
@include popupy_ogolne_sieciowe + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy_ogolne.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy_ogolne_blokujace.txt
@include popupy_ogolne + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/popupy_ogolne.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/popupy_ogolne.txt
!
!
! Powiadomienia push
@include push_sieciowe
@include push
!
!
! Powiadomienia push - Ogólne filtry
@include push_ogolne_sieciowe
@include push_ogolne
!
!
! Scrollujące filmiki
@include scroll_film_sieciowe
@include scroll_film
!
!
! Scrollujące filmiki - Ogólne filtry
@include scroll_film_ogolne
!
!
! Strzałki
@include strzalki_sieciowe
@include strzalki
!
!
! Strzałki - Ogólne filtry
@include strzalki_ogolne_sieciowe
@include strzalki_ogolne
!
!
! Tła zawierające autoreklamy
@include tla_autoreklamy_sieciowe
@include tla_autoreklamy
!
!
! Widżety kontaktowe/informacji zwrotnej
@include widgety_kontaktowe_informacji_zwrotnej_sieciowe
@include widgety_kontaktowe_informacji_zwrotnej + https://raw.githubusercontent.com/FiltersHeroes/PolishSocialCookiesFiltersDev/master/sections/adblock_social_list/widgety_kontaktowe.txt PolishSocialCookiesFiltersDev/sections/adblock_social_list/widgety_kontaktowe.txt
!
!
! Widżety kontaktowe/informacji zwrotnej - Ogólne filtry
@include widgety_kontaktowe_informacji_zwrotnej_ogolne_sieciowe
@include widgety_kontaktowe_informacji_zwrotnej_ogolne
!
!
! Inne elementy
@include inne_sieciowe
@include inne
!
!
! Inne elementy - Ogólne filtry
@include inne_ogolne_sieciowe
@include inne_ogolne
!
!
! Prenumeraty
@include e_gazety_sieciowe
@include e_gazety
!
!
! Filtry specjalne
@include specjalne
!
!
@include https://raw.githubusercontent.com/PolishRoboDogHouse/polish-ads-filter/RTM/cookies_filters/adblock_cookies.txt polish-ads-filter/cookies_filters/adblock_cookies.txt
!
!
! Dołączenie listy uzupełniającej do uBlocka Origin i AdGuarda, by użytkownicy nie musieli jej subskrybować
!#if !adguard_ext_android_cb
!#if !adguard_app_ios
!#include PAF_supp.txt
!#endif
!#endif
