@path PPB
@dateFormat %a, %d %b %Y, %H:%M UTC%:::z
@versionFormat Year.Month.Day.TodayNumberOfCommits
@CIusername PolishJarvis
@CIemail PolishJarvis@int.pl
@lang pl
@tz Poland
@updateListIfAnotherListUpdated PPB.txt PAF_supp.txt
@updateListIfAnotherListUpdated PAF_backgrounds_self-advertising.txt PAF_backgrounds_self-adv_supp.txt
@updateListIfAnotherListUpdated PPB.txt PAF_backgrounds_self-adv_supp.txt
@updateListIfAnotherListUpdated PAF_newsletters.txt PAF_newsletters_supp.txt
@updateListIfAnotherListUpdated PPB.txt PAF_newsletters_supp.txt
@updateListIfAnotherListUpdated PAF_other_widgets.txt PAF_other_elements_supp.txt
@updateListIfAnotherListUpdated PPB.txt PAF_other_elements_supp.txt
@updateListIfAnotherListUpdated PAF_pop-ups.txt PAF_pop-ups_supp.txt
@updateListIfAnotherListUpdated PPB.txt PAF_pop-ups_supp.txt
@updateListIfAnotherListUpdated PAF_push.txt PAF_push_supp.txt
@updateListIfAnotherListUpdated PPB.txt PAF_push_supp.txt
@updateListIfAnotherListUpdated PAF_scrolling_videos.txt PAF_scrolling_videos_supp.txt
@updateListIfAnotherListUpdated PPB.txt PAF_scrolling_videos_supp.txt
@updateListIfAnotherListUpdated PPB.txt PAF_tagged_internal_links.txt
@updateListIfAnotherListUpdated PPB.txt PAF_comeback_titles.txt
