name: Zarządzanie etykietami zgłoszeń

on:
  issues:
    types: [opened, edited]

jobs:
  apply-label:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: hawkeye116477/issue-manager-action@v1
        with:
          mode: "labelOpened"
